<div class="container-fluid">
    <div class="row" style="min-height: 400px;">
        <div class="col">
            <ngx-charts-pie-grid [scheme]="colorScheme" [results]="currentPopulation" [tooltipDisabled]="true">
            </ngx-charts-pie-grid>
        </div>
    </div>
    <div class="row" style="min-height: 400px;">
        <div class="col">
            <ngx-charts-bar-vertical 
            [scheme]="colorScheme"
            [results]="barChartData"
            [xAxis]="true"
            [yAxis]="true">
          </ngx-charts-bar-vertical>
        </div>
    </div>
</div>